<h1>Showing created article</h1>

<p>
  Title : <%= @article.title %>
</p>

<p>
  Description : <%= @article.description %>
</p>

<p>
  <%= link_to "Edit this article", edit_article_path(@article) %>  
</p>

<p>
  <%= link_to "Back to Articles listing", articles_path %>
</p>
