$navbar-default-bg: #f4ce42;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('cover.png');
  background-size: cover;
  height: 550px;
}

.jumbotron h1{
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: bold;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color: black;
}

.article-acttion
{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description{
  margin-top: 0;
}

.footer
{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer a:hover{
  color:#222;
}

.footer small{
  float: left;
}

.footer ul{
  float: right;
  list-style: none;
}

.footer ul li{
  float: left;
  margin-left: 15px;
}
